/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  color: wheat;
  font-weight: 900;
  margin: 0;
  font-family: palanquin;
}
html, body {
  height: 100%;
}
body {
  background-color: black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: ostrichSans;
  src: url('./assets/fonts/ostrich-sans-master/OstrichSans-Light.otf');
}

@font-face {
  font-family: palanquin;
  src: url('./assets/fonts/palanquin-light.ttf');
}

@font-face {
  font-family: ostrichSansBold;
  src: url('./assets/fonts/ostrich-sans-master/OstrichSans-Heavy.otf');
}

/* APP STYLING */

#app > div {
  padding-top: 15vh;
}

header {
  display: grid;
  justify-items: center;
  gap: 1vh;
  background-color: rgb(0, 0, 0);
  padding-top: 0.4vh;
  position: fixed;
  width: 100vw;
  z-index: 5;
}
header > a {
  text-decoration: none;
}

header > a > h1 {
  margin-top: 1vh;
  color: wheat;
  font-family: ostrichSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2.3vh;
  font-size: 5vh;
  text-shadow: -2px 2px 1px red, -4px 2px 1px blue;
  padding-left: 2vh;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  animation: typewriter 2.5s steps(20) 1s 1 normal both,
             blinkCursor 400ms steps(20) 9 normal,
             textclip 2s linear infinite;

             text-transform: uppercase;
             background-image: linear-gradient(
               -225deg,
               #fbfaff 30%,
               #2f00ff 29%,
               wheat 67%,
               wheat 100%
             );
             background-size: auto auto;
             background-clip: border-box;
             background-size: 200% auto;
             color: #fff;
             background-clip: text;
             text-fill-color: transparent;
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             display: inline-block;
             box-shadow: -1px 1px 5px white, -3px 3px 5px white, 1px -1px 1px white;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 505px;
  }
}

@keyframes blinkCursor{
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

#nav-bar {
  display: grid;
  /* gap: 7vw; */
  width: 40%;
  grid-auto-flow: column;
  background-color: black;
  /* box-shadow: -1px 1px 5px white, -3px 3px 5px white, 1px -1px 1px white, 3px -3px 2px white; */
  padding: 5px;
  justify-content: space-around;
}

#nav-bar > a > button {
  background: none;
  color: wheat;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: ostrichSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  font-weight: 600;
}
#nav-bar > a > button > div {
  align-self: end;
}

#nav-bar > a {
  text-decoration: none;
  color: white;
}

#cart-button {
  display: grid;
  grid-auto-flow: column;
}
#cart-button > div, #cart-button > span{
  width: 28px;
  font-weight: 600;
  color: red;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(38, 25, 39);
  height: 5.2vh;
  border: 1px solid red;
  min-width: 100vw;
  /* opacity: 0.3; */
  align-self: flex-end;
}

footer > span, footer > span > a {
  font-family: ostrichSansBold;
  letter-spacing: 4px;
  font-size: 2.3vh;
  text-decoration: none;
}

footer > span > a:hover {
  color: blue;
}
