/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  color: wheat;
  font-weight: 900;
  margin: 0;
  font-family: palanquin;
}
html, body {
  height: 100%;
}
body {
  background-color: black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: ostrichSans;
  src: url('./assets/fonts/ostrich-sans-master/OstrichSans-Light.otf');
}
@font-face {
  font-family: palanquin;
  src: url('./assets/fonts/palanquin-light.ttf');
}

/* APP STYLING */

#app > div {
  padding-top: 15vh;
}
header {
  display: grid;
  justify-items: center;
  gap: 1vh;
  background-color: rgb(0, 0, 0);
  padding-top: 0.4vh;
  position: fixed;
  width: 100vw;
  /* margin-bottom: 10vh; */
  z-index: 5;
}
header > a {
  text-decoration: none;
}

header > a > h1 {
  color: wheat;
  font-family: ostrichSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2.3vh;
  font-size: 5vh;
  text-shadow: -3px 3px 1px red, -6px 6px 1px blue;
  border: .1vh solid wheat;
  padding-left: 2.2vh;
  background: black;
  /* z-index: 5; */
}

#nav-bar {
  display: grid;
  /* gap: 7vw; */
  width: 40%;
  grid-auto-flow: column;
  background-color: black;
  box-shadow: -1px 1px 5px white, -3px 3px 5px white, 1px -1px 1px white, 3px -3px 2px white;
  padding: 5px;
  justify-content: space-around;
}

#nav-bar > a > button {
  background: none;
  color: wheat;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: ostrichSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  font-weight: 600;
}
#nav-bar > a > button > div {
  align-self: end;
}

#nav-bar > a {
  text-decoration: none;
  color: white;
}

#cart-button {
  display: grid;
  grid-auto-flow: column;
}
#cart-button > div, #cart-button > span{
  width: 28px;
  font-weight: 600;
  color: red;
}

/* .quantity-input::-webkit-input-placeholder {
    font-weight: lighter;
    color:#AFB2B3;
}
.quantity-input::-moz-placeholder {
    font-weight: lighter;
    color:#AFB2B3;
}
.quantity-input::-ms-input-placeholder {
    font-weight: lighter;
    color:#AFB2B3;
} */
