/* @font-face {
  font-family: palanquin;
  src: url('../../assets/fonts/palanquin-light.ttf');
}
@font-face {
  font-family: ostrichSans;
  src: url('../../assets/fonts/ostrich-sans-master/OstrichSans-Medium.otf');
} */
/* HOMEPAGE */

.homepageDiv, .extra-info {
  color: white;
  display: grid;
}

.homepageDiv {
  background-image: url('../../assets/images/design/lightOne.jpg');
  background-size:contain;
  background-attachment: fixed;
  /* min-height: 50vh; */
  height: 90vh;
  /* min-width: 100vw; */
  box-shadow: 0 0 15px inset red, 0 0 15px blue;
  /* position: relative; */
}

/* ABOUT */

.about-info {
  display: grid;
  justify-items: center;
  border: 1px solid wheat;
  width: 50%;
  justify-self: center;
  margin: 10px 0 10px 0
}

.description-one-header, .description-two-header {
  font-size: 36px;
  letter-spacing: 0.5vh;
  font-family: ostrichSansBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description-one {
  padding: 10px;
  font-family: ostrichSansBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2vh;
  font-size: 2.2vh;
  justify-self: center;
}

/* EXTRA INFO DIV */
.extra-info {
  border: 1px solid wheat;
  width: 70%;
  margin: 5px 0 5px 2vw;
  justify-self: start;
  /* margin-left: 50px; */
}

.description-two-header {
  padding-left: 1vw;
}

.description-two {
  font-family: ostrichSansBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2vh;
  font-size: 2.2vh;
  justify-self: start;
  padding-left: 1vw;
}

/* IMAGES */

.store-image-div {
  width: 99vw;
  justify-self: center;
  height: 40vh;
  box-shadow: 0 0 30px inset rgb(255, 70, 8);
  background-image: url('../../assets/images/design/vintage.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 1;
  /* z-index: 1; */
}

.carousel {
  justify-self: start;
  width: 12vw;
  height: 50vh;
  background-size:contain;
  background-position: center;
  background-attachment: scroll;
  position: sticky;
  top: 170px;
  left: 55.5vw;
  box-shadow: 5px 5px 8px black, -5px 5px 8px black, 5px 5px 30px inset black, -5px 5px 30px inset black;
  border-radius: 5%;
  transform: rotate(-4deg);
}

.homepageImage {
  opacity: 0;
  /* height: 50vh; */
}

.lady-sitting-image-div {
  /* justify-self: end; */
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/design/cayr.jpg');
  background-size: cover;
  background-position: 0 -100px;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}

.description-three-div {
  display: grid;
  position: absolute;
  bottom: -97vh;
  border: 1px solid wheat;
  border-bottom: none;
  width: 100%;
  /* margin: 5px 0 5px 0; */
  justify-self: end;
  padding: 10px;
  /* animation: slidein 7s infinite; */
  height: 92vh;
}

.description-three-div > h2, .description-three-div > p {
  /* display: b; */
  height: fit-content;
  font-size: 4vh;
  font-family: ostrichSansBold;
  letter-spacing: 1vw;
  background: -webkit-linear-gradient(rgb(13, 0, 255), rgb(175, 54, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-self: center;

  
}

.links-div {
  width: fit-content;
  padding: 3vh;
}

.links-div * {
  font-family: ostrichSansBold;
  font-size: 4vh;
}

.links-div > h3 {
  text-decoration: underline;
  letter-spacing: 0.3vw;
}

.links-div > ul {
  padding: 0;
  margin: 0;  
  list-style: none;
}

.links-div > ul > li {
  text-decoration: none;
}

.links-div > ul > li > a {
  color: wheat;
  text-decoration: none;
  font-size: 3vh;
}

.links-div > ul > li > a:hover {
  color: blue;
}

.links-div > ul > li > button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 3vh;
}

/* FOOTER */
.footer-div {
  display: grid;
  grid-auto-flow: column;
  /* justify-items: center; */
  justify-content: end;
  padding-right: 10vw;
}

