
/* HOMEPAGE */

.homepageDiv, .extra-info {
  color: white;
  display: grid;
}

.homepageDiv {
  background-image: url('../../assets/images/design/lightOne.jpg');
  background-size:contain;
  background-attachment: fixed;
  height: 90vh;
  box-shadow: 0 0 15px inset red, 0 0 15px blue;
}

/* ABOUT */

.about-info {
  display: grid;
  justify-items: center;
  border: 1px solid wheat;
  width: 50%;
  justify-self: center;
  margin: 10px 0 10px 0
}

.description-one-header, .description-two-header {
  font-size: 36px;
  letter-spacing: 0.5vh;
  font-family: ostrichSansBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description-one {
  padding: 10px;
  font-family: ostrichSansBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2vh;
  font-size: 2.2vh;
  justify-self: center;
}

/* EXTRA INFO DIV */
.extra-info {
  border: 1px solid wheat;
  width: 70%;
  margin: 5px 0 5px 2vw;
  justify-self: start;
}

.description-two-header {
  padding-left: 1vw;
}

.description-two {
  font-family: ostrichSansBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2vh;
  font-size: 2.2vh;
  justify-self: start;
  padding-left: 1vw;
}

/* IMAGES */

.store-image-div {
  width: 99vw;
  justify-self: center;
  height: 40vh;
  box-shadow: 0 0 30px inset rgb(255, 70, 8);
  background-image: url('../../assets/images/design/vintage.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 1;
}

.carousel {
  justify-self: start;
  width: 12vw;
  height: 50vh;
  background-size:contain;
  background-position: center;
  background-attachment: scroll;
  position: sticky;
  top: 170px;
  left: 55.5vw;
  box-shadow: 5px 5px 8px black, -5px 5px 8px black, 5px 5px 30px inset black, -5px 5px 30px inset black;
  border-radius: 5%;
  transform: rotate(-4deg);
}

.homepageImage {
  opacity: 0;
}

.lady-sitting-image-div {
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/design/cayr.jpg');
  background-size: cover;
  background-position: 0 -100px;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}

.description-three-div {
  display: grid;
  position: absolute;
  bottom: -97vh;
  border: 1px solid wheat;
  border-bottom: none;
  width: 100%;
  justify-self: end;
  padding: 10px;
  height: 92vh;
}

.description-three-div > h2 {
  /* display: b; */
  height: fit-content;
  font-size: calc(1rem + 4vh);
  font-family: ostrichSansBold;
  letter-spacing: 0.5vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-self: end;
  position: absolute;
  top: 56vh;
  right: 75vw;

  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  color: transparent;
  background-color: white;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  background-image: linear-gradient(
    -225deg,
    #fbfaff 10%,
    #2f00ff 29%,
    #ff0000 37%,
    black 100%
  );
  background-clip: text;
  animation: shadows 1.6s ease-in infinite, move 1.6s ease-in infinite, textclip 4s linear infinite;
}

:root {
  --color-primary: #f5deb3;
  --color-secondary: #c5b493;
  --color-tertiary: #c5a15f;
  --color-quaternary: #a89777;
  --color-quinary: #836734;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary), 8px 8px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary), 8px 8px var(--color-quaternary),
      10px 10px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary), 8px 8px var(--color-quaternary),
      10px 10px 0 var(--color-quinary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary), 8px 8px var(--color-quaternary),
      10px 10px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary), 8px 8px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-7px, -7px);
  }
  50% {
    transform: translate(-7px, -7px);
  }
  60% {
    transform: translate(-7px, -7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.links-div {
  width: fit-content;
  padding: 3vh;
}

.links-div * {
  font-family: ostrichSansBold;
  font-size: 4vh;
}

.links-div > h3 {
  text-decoration: underline;
  letter-spacing: 0.3vw;
}

.links-div > ul {
  padding: 0;
  margin: 0;  
  list-style: none;
}

.links-div > ul > li {
  text-decoration: none;
}

.links-div > ul > li > a {
  color: wheat;
  text-decoration: none;
  font-size: 3vh;
}

.links-div > ul > li > a:hover {
  color: blue;
}

.links-div > ul > li > button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 3vh;
}

/* FOOTER */
.footer-div {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  padding-right: 10vw;
}

